.page__main-block {
  display: flex;
  flex-direction: column;
  margin: 25px 0px 20px 90px;
}
.main-block-body {
  display: flex;
  align-items: center;
}
  .project h2 {
      font-size: 16px;
      font-weight: 700;
      color: var(--text);
      align-items: center;
  }

  .button__add-container {
    display: flex;
    align-items: center;
    margin-left: 70%;
    
    button {
      color: var(--text);
      padding: 0.5em 1em;
      font-size: 16px;
      font-weight: 700;
      border-radius: 0.5em;
      background: var(--btn-bg);
      transition: all .3s;
      box-shadow: var(--btn-shadov);
     }
     
     button:active {
      color: rgb(216, 31, 31);
      background-color: var(--btn-focus-bg);
      box-shadow: var(--btn-active-shadov);
     }
};

//laptops
   @media (max-width: $laptops) {
    .page__main-block {
      align-items:center;
      margin: 0;
    }

    .main-block-body {
      display: block;
      flex-wrap: wrap;
      margin-top: 10px;
    }

    .project h2 {
      text-align: center;
      font-size: 40px;
      margin-bottom: 20px;
    }

    .button__add-container {
      margin-left: 35px;
    }

    .button {
      color: var(--text);
      padding: 0.8em 1.2em;
      font-size: 18px;
     }
  }
//------------------------------------------ 

//Phones
   @media (max-width: $phones){
    .page__main-block {
      margin: 0;
    }

    .project h2 {
      font-size: 40px;
      margin-bottom: 25px;
    }

    .button__add-container {
      position: fixed;
      top: 78%;
      margin-left: 30px;
    }

    .button {
      color: var(--text);
      padding: 0.8em 1.2em;
      font-size: 18px;
     }
   };
//------------------------------------------

//SmalPhones
   @media (max-width: $smalPhones) {
    .project h2 {
      font-size: 20px;
      margin: 0px 0px 15px 0px;
    }

    .button__add-container {
      top: 75%;
      margin: 0px 0px 0px -20px;
    }

    .button {
      color: var(--text);
      padding: 0.6em 0.8em;
      font-size: 14px;
     }
   }