//Pc
@media (min-width:$laptops){
    .nav {
        position: absolute;
        height: 95%;
        left: 15px;
        top: 10px;
        width: 55px;
        background: var(--bg-color);
        border-radius: 12px;
        overflow: hidden;
        box-shadow: var(--shadov);
        transition: width 0.5s;
    }
    .nav:hover{
        height: 95%;
        width: 200px;
    };

    .nav__container {
        padding: 20px 0px 0px 17px;
    };

    .user__item {
        display: flex;
    }

    .user__photo{
        width: 24px;
        height: 24px;
    }

    h3 {
        margin: 5px 0px 30px 25px;
        font-size: 16px;
        font-weight: 700;
        white-space: nowrap;
        color: var(--text);
    }
    
    .nav__items {
        display: flex;
        align-items: center;
        color: var(--text);
        margin: 40px 0px 0px 3px;
         span {
            font-weight: 300;
            margin-left: 30px
            }
    }

    .nav__item:hover {
        color: rgb(216, 31, 31);
    }

    .nav__icon {
        width: 16px;
        height: 16px;
    }

    .second__item {
        position: absolute;
        bottom: 20px;
    }

    .toggle-switch {
        position: absolute;
        display: flex;
        align-items: center;
        margin: 0px 0px 0px 3px;
        bottom: 70px;
    }   

    .toggle {
        width: 16px;
        height: 16px;
        background-image: var(--toggle);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .toggle__item {
        font-weight: 300;
        margin-left: 30px;
        white-space: nowrap;
        color: var(--text) 
    }:hover {
        color: rgb(216, 31, 31)
    }
};
//------------------------------------------
    
//laptops
    @media (max-width:$laptops) {
        .nav {
            position: fixed;
            display: flex;
            justify-content: center;
            height: 110px;
            width: 98%;
            top: 90%;
            margin: 0px 10px;
            border-radius: 15px;
            background: var(--nav-bg);
            box-shadow: var(  --nav-shadov-mobile);
        }
        .nav__container {
            display: flex;
            align-items: center;
            margin: 0 auto;
        }

        .user__item h3 {
            display: none;
        }

        .user__photo {
            width: 40px;
            height: 40px;
        }

        .nav__list {
            display:flex;
        }

        .nav__list li:not(:last-child) {
            margin-right: 80px;
        }

        .nav__menu {
            margin-left: 80px;
        }

        .nav__icon {
            width: 40px;
            height: 40px;
        } 

        .nav__item {
            display: none;
        }

        .toggle-switch {
            display: flex;
            align-items: center;
            margin-left: 80px;
        }   
    
        .toggle {
            width: 40px;
            height: 40px;
            background-image: var(--toggle);
            background-repeat: no-repeat;
            background-size: contain;
        }
    
        .toggle__item {
            display: none;
        }
    }
//------------------------------------------

//Tablets
    @media (max-width: $tablets) {
        .nav {
            height: 100px;
            top: 89%;
        }
    
        .nav__menu {
            margin-left: 60px;
        }
    
        .nav__list li:not(:last-child) {
            margin-right: 60px;
        }

        .toggle-switch {
            margin-left: 60px;
        }
    }
//------------------------------------------

//Phones
    @media (max-width: $phones) {
        .nav {
            width: 95%;
            top: 87%;
            margin: 0px 10px;
            padding: 0px 20px
        }

        .user__photo {
            width: 30px;
            height: 30px;
        }

        .nav__menu {
            margin-left: 30px;
        }

        .nav__list li:not(:last-child) {
            margin-right: 30px;
        }

        .nav__icon {
            width: 30px;
            height: 30px;
        }

        .toggle {
            width: 30px;
            height: 30px;
        }

        .toggle-switch {
            margin-left: 30px;
        }
    }
//------------------------------------------

//SmalPhones
    @media (max-width: $smalPhones) {
        .nav {
            height: 70px;
            top: 86%;
        }

        .user__photo {
            width: 20px;
            height: 20px;
        }

        .nav__menu {
            margin-left: 25px;
        }

        .nav__icon {
            width: 20px;
            height: 20px;
        }

        .toggle {
            width: 20px;
            height: 20px;
        }
    }