.nav {
    background: var(--bg-color);
    border-radius: 18px;
}

.nav__items {
    background-repeat: no-repeat;
    background-size: contain;
}

.tasks {
    background-image: var(--tasks);
}

.today {
    background-image: var(--today);
}

.upcoming {
    background-image: var(--upcoming);
}

.logout {
    background-image: var(--logout);
}

.toggle {
    background-image: var(--toggle);
}

.toggle {
    background-image: var(--toggle);
    background-repeat: no-repeat;
    background-size: contain;
}

//Pc
@media (min-width: $extraLarge) {
    .nav {
        position: absolute;
        height: 95%;
        left: 15px;
        top: 10px;
        width: 55px;
        overflow: hidden;
        box-shadow: var(--imput-shadov);
        transition: width 0.6s;
    }
    .nav:hover {
        height: 95%;
        width: 200px;
    }
    .nav:focus {
        outline: none;
        box-shadow: var(--imput-focus);
    }

    .nav__container {
        padding: 25px 0px 0px 17px;
    }

    .user__item {
        display: flex;
    }

    .user__photo {
        width: 24px;
        height: 24px;
    }

    h3 {
        font-size: 18px;
        font-weight: 700;
        white-space: nowrap;
        color: var(--text);
        margin: 2px 0px 30px 20px;
    }

    .nav__items {
        display: flex;
        align-items: center;
        margin: 45px 0px 0px 5px;
    }

    .nav__item {
        font-weight: 300;
        color: var(--text);
        margin-left: 40px;
    }

    .nav__item:hover {
        color: var(--active);
    }

    .nav__icon {
        width: 16px;
        height: 16px;
    }

    .second__item {
        position: absolute;
        bottom: 20px;
    }

    .toggle-switch {
        position: absolute;
        display: flex;
        align-items: center;
        margin: 0px 0px 0px 5px;
        bottom: 70px;
    }

    .toggle {
        width: 16px;
        height: 16px;
    }

    .toggle__item {
        font-weight: 300;
        margin-left: 40px;
        white-space: nowrap;
        color: var(--text);
    }
    :hover {
        color: var(--active);
    }
}
//------------------------------------------

//laptops
@media (max-width: $large) {
    .nav {
        position: fixed;
        display: flex;
        justify-content: center;
        height: 110px;
        width: 95%;
        top: 89%;
        box-shadow: var(--nav-shadov-mobile);
        margin: 0px 20px;
    }

    .nav__container {
        display: flex;
        align-items: center;
        margin: 0 auto;
    }

    .user__photo {
        width: 40px;
        height: 40px;
    }

    .user__item h3 {
        display: none;
    }

    .nav__menu {
        margin-left: 80px;
    }

    .nav__list {
        display: flex;
    }

    .nav__list li:not(:last-child) {
        margin-right: 80px;
    }

    .nav__items {
        display: flex;
        width: 40px;
        height: 40px;
    }

    .nav__item {
        display: none;
    }

    .toggle-switch {
        display: flex;
        margin-left: 80px;
    }

    .toggle {
        width: 40px;
        height: 40px;
    }

    .toggle__item {
        display: none;
    }
}
//------------------------------------------

//Tablets
@media (max-width: $medium) {
    .nav {
        height: 100px;
        top: 89%;
    }

    .nav__menu {
        margin-left: 60px;
    }

    .nav__list li:not(:last-child) {
        margin-right: 60px;
    }

    .toggle-switch {
        margin-left: 60px;
    }
}
//------------------------------------------

//Phones
@media (max-width: $small) {
    .nav {
        width: 95%;
        top: 85%;
        margin: 0px 10px;
        padding: 0px 20px;
    }

    .user__photo {
        width: 25px;
        height: 25px;
    }

    .nav__menu {
        margin-left: 35px;
    }

    .nav__list li:not(:last-child) {
        margin-right: 35px;
    }

    .nav__items {
        width: 25px;
        height: 25px;
    }

    .toggle {
        width: 25px;
        height: 25px;
    }

    .toggle-switch {
        margin-left: 30px;
    }
}
//------------------------------------------

//SmalPhones
@media (max-width: $extraSmall) {
    .nav {
        height: 70px;
        top: 86%;
        margin: 0px 8px;
    }

    .user__photo {
        width: 20px;
        height: 20px;
    }

    .nav__menu {
        margin-left: 25px;
    }

    .nav__list li:not(:last-child) {
        margin-right: 25px;
    }

    .nav__items {
        width: 20px;
        height: 20px;
    }

    .toggle {
        width: 20px;
        height: 20px;
    }

    .toggle-switch {
        margin-left: 20px;
    }
}
