//!Light Theme
:root {
    --bg-color: #e8e8e8;
    --text: rgba(71, 71, 71, 1);
    --shadov: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
//nav
    --nav-shadov-mobile: -8px -8px 14px #FFFFFF, 
                          4px 4px 12px #c5c5c5;
//-------------------------------------------------------------------

//todos
    --imput-shadov: inset 4px 4px 10px #c5c5c5, 
                    inset -4px -4px 10px #ffffff;
    --border-color: rgb(206, 206, 206);
    --imput-hover: inset 2px 2px 5px #bcbcbc, 
                    inset -2px -2px 5px #ffffff, 
                    2px 2px 5px #c5c5c5, 
                    -2px -2px 5px #ffffff;
    --imput-focus: inset 2px 2px 5px #c5c5c5, 
                    inset -2px -2px 5px #ffffff, 
                    2px 2px 5px #c5c5c5, 
                    -2px -2px 5px #ffffff;
    --add-btn-shadov: inset 2px 2px 4px #c5c5c5,
                        inset -2px -2px 4px #ffffff;
    --active: rgb(255, 71, 99);
//-------------------------------------------------------------------

//Nav toggle img
    --toggle: url(../img/nav/night.png)
  }

//!Dark Theme
:root[data-theme='dark'] {
    --bg-color: #3d3d3d;
    --text: #1c1c1c;
    --shadov: 6px 6px 12px #333333,
                -6px -6px 12px #4b4b4b;
//nav
    --nav-shadov-mobile: 4px 4px 14px #2a2a2a,
                            -8px -8px 14px #4b4b4b;
//-------------------------------------------------------------------

//todos
    --imput-shadov: inset 4px 4px 10px #333333, 
                    inset -4px -4px 10px #4b4b4b;
    --border-color: rgb(206, 206, 206);
    --imput-hover: inset 2px 2px 5px #333333, 
                    inset -2px -2px 5px #4b4b4b, 
                    2px 2px 5px #333333, 
                    -2px -2px 5px #4b4b4b;
    --imput-focus: inset 2px 2px 5px #333333, 
                    inset -2px -2px 5px #4b4b4b, 
                    2px 2px 5px #333333, 
                    -2px -2px 5px #4b4b4b;
    --add-btn-shadov: inset 2px 2px 4px #333333,
                        inset -2px -2px 4px #4b4b4b;
    --active: rgb(255, 71, 99);
//-------------------------------------------------------------------

//Nav toggle img
    --toggle: url(../img/nav/light.png)
  }
