//!Light Theme
:root {
    --bg-color: #e8e8e8;
    --text: rgba(71, 71, 71, 1);
    --shadov: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
//nav
    --nav-shadov-mobile: -8px -8px 14px #FFFFFF, 
                          4px 4px 12px #c5c5c5;
//-------------------------------------------------------------------

//button__add
    --btn-active-shadov: inset 2px 2px 6px #c5c5c5,
                            inset -2px -2px 6px #ffffff;
//-------------------------------------------------------------------

//todos
    --imput-focus-shadov: inset 5px 5px 10px #c5c5c5,
                            inset -5px -5px 10px #ffffff;
//-------------------------------------------------------------------

//Nav toggle img
    --toggle: url(../img/nav/night.png)
  }

//!Dark Theme
:root[data-theme='dark'] {
    --bg-color: #3d3d3d;
    --text: #949292;
    --shadov: 6px 6px 12px #333333,
                -6px -6px 12px #4b4b4b;
//nav
    --nav-shadov-mobile: 4px 4px 14px #2a2a2a,
                            -8px -8px 14px #4b4b4b;
//-------------------------------------------------------------------

//button__add 
    --btn-active-shadov: inset 2px 2px 6px #333333,
                            inset -2px -2px 6px #4b4b4b;
//-------------------------------------------------------------------
//todos
    --imput-focus-shadov: inset 5px 5px 10px #333333,
                            inset -3px -3px 10px #4b4b4b;
//-------------------------------------------------------------------

//Nav toggle img
    --toggle: url(../img/nav/light.png)
  }
